{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <title>Settings Panel</title>
</head>
<body>
    <div class="settings-panel" id="SettingsPanel">
        <header>
            <h1>Settings</h1>
            <button onclick="history.back()">Go Back</button>
        </header>
        <div class="settings" id="Settings">
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="setting">
                    <label for="onlineOffline">
                        <span>Online/Offline Visibility</span>
                        <span>Allow friends to be able to see whether or not you are online</span>
                    </label>
                    <input type="checkbox" id="onlineOffline" name="onlineOffline">
                </div>

                <div class="setting">
                    <label for="lightDarkMode">
                        <span>Light/Dark Mode</span>
                        <span>Set the app to a Light Theme or Dark Theme</span>
                    </label>
                    <input type="checkbox" id="lightDarkMode" name="lightDarkMode">
                </div>

                <div class="setting">
                    <label for="changeUsername">
                        <span>Change Your Username</span>
                        <span>Alter your current username to a new one</span>
                    </label>
                    <input type="text" id="changeUsername" name="changeUsername" 
                           value="{{ user.username }}" placeholder="Change Your Username">
                </div>

                <div class="setting">
                    <label for="changePassword">
                        <span>Change Your Password</span>
                        <span>Alter your current password to a new one</span>
                    </label>
                    <input type="password" id="changePassword" name="changePassword" 
                           placeholder="Change Your Password">
                </div>

                <div class="setting">
                    <input type="submit" class="save" value="Save Changes" id="submitButton">
                </div>
            </form>
        </div>

        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    </div>

    <script src="{% static 'app.js' %}"></script>
</body>
</html>
